::-webkit-scrollbar-thumb:hover {
    background-color: #2c4755;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

nav div:hover ul {
    display: block;
}

nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent #2c4755 transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}

nav ul li a {
    display: block;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    color: #e3e6e8;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav ul li a:hover {
    color: #12c1b0;
    padding-left: 25px;
    background-color: #333;
}

nav ol li:first-child {
    padding: 15px;
    margin: 0;
    color: #637988;
}

nav ul a {
    text-decoration: none;
    color: #637988;
    height: 100%;
    width: 100%;
}

nav button {
    border-style: none;
    text-align: left;
    background-color: transparent;
}

nav ul>li:last-child {
    display: block;
    padding: 15px;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

nav ul>li:last-child a {
    color: #637988;
}

.margin {
    margin-bottom: 20px;
}

.end {
    font-family: 'FontAwesome';
    content: "\f00d";
}

.services .content .serv:hover {
    box-shadow: #333 10px 20px 20px -30px;
    transform: scale(1.2) rotate(-2deg);
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    -ms-transform: scale(1.2) rotate(-2deg);
    -o-transform: scale(1.2) rotate(-2deg);
}

.portfolio .content .card:hover {
    box-shadow: #333 10px 20px 20px -30px;
    transform: scale(1.2) rotate(-2deg);
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    -ms-transform: scale(1.2) rotate(-2deg);
    -o-transform: scale(1.2) rotate(-2deg);
}

.About .content img:hover {
    width: 100%;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: scale(1.2) rotate(-2deg);
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    -ms-transform: scale(1.2) rotate(-2deg);
    -o-transform: scale(1.2) rotate(-2deg);
}

footer a:hover {
    color: var(--main_color);
}

footer i:hover {
    color: var(--main_color);
}

footer q:hover {
    color: var(--main_color);
    cursor: pointer;
}

::selection {
    color: var(--main_color);
}

.feature .content:hover {
    box-shadow: #333 10px 20px 20px -30px;
    transform: scale(1.2) rotate(-2deg);
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    -ms-transform: scale(1.2) rotate(-2deg);
    -o-transform: scale(1.2) rotate(-2deg);
}

.services .content img:hover {
    /* box-shadow: #333 10px 20px 20px -30px; */
    transform: scale(1.4) rotate(-2deg);
    -webkit-transform: scale(1.4) rotate(-2deg);
    -moz-transform: scale(1.4) rotate(-2deg);
    -ms-transform: scale(1.4) rotate(-2deg);
    -o-transform: scale(1.4) rotate(-2deg);
}