    @media (max-width:1024px) {
        .About .content .img {
            margin-top: 80px;
        }
        .About .content .img::after {
            width: 120px;
            height: 350px;
            border-left: 80px solid #10cab7;
            border-bottom: 80px solid #10cab7;
            top: -20%;
            right: -60%;
            z-index: -21;
        }
        .About .content .img::before {
            background-color: #fafafa;
            width: 100px;
            height: 400px;
            top: -40px;
            left: -20px;
            z-index: -11;
        }
        .About .content .text {
            flex-basis: calc(50%);
        }
    }
    
    @media (max-width:768px) {
        .special-part {
            font-size: 70px;
        }
        .portfolio .content {
            width: 95%;
        }
        .About {
            margin-top: 100px;
        }
        .About .content .img {
            width: 100%;
        }
        .About .content img {
            width: 100%;
        }
        .About .content {
            width: 80%;
            margin: auto;
            margin-top: 100px;
        }
        .About .content .img::before {
            height: 100px;
            width: 100px;
            color: transparent;
            top: -15px;
            left: -15px;
            border-left: 10px solid var(--main_color);
            border-top: 10px solid var(--main_color);
            z-index: -11;
        }
        .About .content .img::after {
            height: 100px;
            width: 100px;
            top: unset;
            bottom: -15px;
            right: -15px;
            border-left: 0;
            border-right: 10px solid var(--main_color);
            border-bottom: 10px solid var(--main_color);
            z-index: -11;
        }
        .About .content .text {
            flex-basis: unset;
            margin-top: 60px;
        }
        footer {
            flex-direction: column;
            align-items: center;
            height: 140px;
        }
        footer>div {
            margin-top: 20px;
        }
        .services .content {
            width: auto;
            padding: 5px;
        }
        .feature {
            padding: 5px;
            width: 100%;
        }
        .feature .content {
            padding: 0;
            padding-top: 30px;
        }
        .portfolio {
            margin: auto;
            width: 100%;
            padding: 5px;
            margin-top: 100px;
        }
        .services {
            margin-top: 100px;
        }
    }
    
    @media (max-width:280px) {
        .feature .content {
            width: 220px;
        }
        .feature {
            width: 80%;
        }
        .special-part {
            font-size: 50px;
        }
        .special-part+p {
            font-size: 12px;
            margin-top: -15px;
        }
        .col {
            width: 80%;
        }
        .col p {
            font-size: 12px;
        }
        .services .content {
            width: 280px;
        }
        .services .content .serv {
            padding: 0;
            padding-left: 15px;
            margin-bottom: 30px;
        }
        .services .content .col .img {
            padding-left: 25px;
        }
        .portfolio .content {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }
        nav ul {
            min-width: 220px;
        }
    }